src/main/resources/sqlmap.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="sqlmap">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="sql"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="sql">
        <xs:complexType mixed="true">
            <xs:attribute name="key" use="required" type="xs:NCName"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
